# Ignore the videos folder
videos/

# Ignore the outputs folder
outputs/

# Ignore the recovery folder
recovery/

# Ignore the recordings folder
recordings/

# Ignore pycache
__pycache__

# Ignore vscode
.vscode/